body {
  background:             #eee;
}

.container {
  position:               absolute;
  top:                    50%;
  left:                   50%;
  margin-top:             -300px;
  margin-left:            -400px;
  background:             black;
  width:                  800px;
  height:                 600px;
  -moz-border-radius:     8px;
  border-radius:          8px;
}

.content {
  margin:                 20px;
  color:                  #eee;
  font-family:            'Inconsolata', serif;
}
