body {
  background:             #eee;
}

.container {
  background-image:       url('../images/background.jpg');
  position:               absolute;
  top:                    50%;
  left:                   50%;
  margin-left:            -320px;
  margin-top:             -240px;
  width:                  640px;
  height:                 480px;
  -moz-border-radius:     8px;
  border-radius:          8px;
}

.content {
  word-wrap:              break-word;
  margin:                 20px;
  height:                 440px;
  width:                  600px;
  color:                  #eee;
  font-family:            'Inconsolata', monospace;
  overflow:               hidden;
}

.prompt {
  color:                  #00ff00;
}

p.code-link {
  position:               absolute;
  bottom:                 -40px;
  width:                  100%;
  text-align:             center;
  font-family:            'Terminal Dosis Light', sans-serif;
}

.code-link a:visited, a:link, a:active {
  color:                  #888;
  text-decoration:        none;
}

.code-link a:hover {
  text-decoration:        underline;
}

.cursor-off {
  visibility:             hidden;
}
