body {
  background:             #eee;
}

.container {
  background-image:       url('../images/background.jpg');
  position:               absolute;
  top:                    50%;
  left:                   50%;
  margin-left:            -320px;
  margin-top:             -240px;
  width:                  640px;
  height:                 480px;
  -moz-border-radius:     8px;
  border-radius:          8px;
}

#content {
  word-wrap:              break-word;
  margin:                 20px;
  color:                  #eee;
  font-family:            'Inconsolata', monospace;
}

.prompt {
  color:                  #00ff00;
}
